
.case-videos-outbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 2.917vw;
}
.case-videos-box {
  width: calc(50% - 1.58vw);
}
.case-videos-box iframe{
  width: 100%;
  height: clamp(200px, 47.76vw, 917px );
}
.case-videos-box .case-videos-box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid #4f6073;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.case-videos-box .case-videos-box-link .case-videos-box-video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     height: clamp(300px, 22.083vw, 424px);
     pointer-events: none;
}
.case-videos-box a:hover .case-videos-box-arrow, .case-videos-box i:hover .case-videos-box-arrow {
  opacity: 1;
}
.case-videos-box .case-videos-box-title {
  color: #f3f3f3;
  margin-top: 1.25vw;
  margin-bottom: 1.25vw;
  position: relative;
  font-size: 1.458vw;
  line-height: 122%;
}
.case-videos-box .case-videos-box-arrow {
  background-image: url("/app/themes/bytes-canada/assets/images/Bespoke-Arrow.svg");
  height: 2.188vw;
  width: 2.188vw;
  display: block;
  position: absolute;
  right: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-size: 2.188vw;
}
.case-videos-box .case-videos-box-data {
  width: calc(100% - 13%);
  padding-bottom: 1.667vw;
  color: #b0b0b0;
}
.case-videos-loadmore-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Case-Study-bottom-Banner .case-videos-box .case-videos-box-link{border: none;}
.case-videos-loadmore {
  margin: 0px auto;
}
.Case-Study-bottom-Banner .case-videos-box{
  width: 100%;
  position: relative;
}
.Case-Study-bottom-Banner .case-videos-box .case-videos-box-link .case-videos-box-video{
  height: auto;
}
.Case-Study-bottom-Banner .case-videos-box .case-videos-box-link iframe.case-videos-box-video{
  height: clamp(240px, 44.160vw, 848px);
}
.case-videos-box .vid__play {
  background-color: transparent;
  border: none;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.case-videos-box .vid__play * {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.case-videos-box .vid__play svg {
  width: 64px;
  height: 64px;
  border-radius:100%;
}
.case-videos-box .vid__play svg:hover {
  box-shadow: 0px 0px 40px -4px rgb(255 255 255 / 47%);
}
.vid__play.playremove {
  display: none;
}



@media screen and (min-width: 1921px) {
  .case-videos-box .case-videos-box-title {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .case-videos-box .case-videos-box-data {
    font-size: 20px;
    padding-bottom: 24px;
  }
  .case-videos-outbox {
    gap: 56px;
  }
  .case-videos-box .case-videos-box-arrow {
    height: 42px;
    width: 42px;
    background-size: 42px;
  }
}
@media screen and (max-width: 991px) {
  .case-videos-box .case-videos-box-title {
    font-size: 16px;
  }
  .case-videos-box .case-videos-box-data {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .case-videos-outbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 32px;
  }
  .case-videos-box {
    width: 100%;
  }
  .case-videos-box .case-videos-box-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 140%;
  }
  .case-videos-box .case-videos-box-arrow {
    display: none;
  }
  .case-videos-box .vid__play {
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
  }
  .case-videos-box .vid__play svg {
    width: 32px;
    height: 32px;
  }
}