
.devops-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.devops-services-left {
    width: 45.573vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: clamp(12px, 1.250vw, 24px);
}
.devops-services-left-title {
    color: #f3f3f3;
}
.devops-services-left-data {
    color: #dddddd;
    font-size: 1.042vw;
    margin-bottom: 0px;
}
.devops-services-right {
    width: 29.219vw;
}
.devops-services-right .devops-services-right-title {
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 122%;
    color: #ffffff;
    margin-bottom: 1.667vw;
}
.devops-services-list-link {
    font-family: "Aeonik";
    line-height: 160%;
    padding-bottom: 1.042vw;
    width: 100%;
    display: block;
    color: #868686;
    border-bottom: 1px solid #868686;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.devops-services-list:hover .devops-services-list-link {
    color: #ffffff;
}
.devops-services-list:hover .devops-services-list-link-number {
    bottom: 2px;
    color: #ffffff;
}
.devops-services-list-link-number {
    font-size: 0.833vw;
    line-height: 160%;
    color: #868686;
    position: relative;
    bottom: -10px;
    margin-right: 0.833vw;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
@media screen and (min-width: 1921px) {
    .devops-services-left {
        width: 875px;
        gap: 24px;
    }
    .devops-services-left-data {
        font-size: 20px;
    }
    .devops-services-right {
        width: 561px;
    }
    .devops-services-right .devops-services-right-title {
        margin-bottom: 32px;
        font-size: 24px;
    }
    .devops-services-list-link {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 991px) {
    .devops-services-left-data {
        font-size: 14px;
    }
    .devops-services-list-link-number {
        font-size: 10px;
    }
}
@media screen and (max-width: 767px) {
    .devops-services {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        gap: 32px;
    }
    .devops-services-left {
        width: 100%;
        margin-bottom: 32px;
    }
    .devops-services-left-data {
        font-size: 14px;
    }
    .devops-services-right {
        width: 100%;
    }
    .devops-services-right .devops-services-right-title {
        font-size: 20px;
        margin-bottom: 32px;
    }
    .devops-services-list-link-number {
        font-size: 12px;
        bottom: -6px;
        margin-right: 8px;
    }
}