.our-guide-blocks-outer {
  position: relative;
  z-index: 2;
}
.image_grid_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 64px;
  margin-bottom: clamp(32px, 2.917vw, 56px);
  position: relative;
  z-index: 2;
}
.image_grid_tab .cata-sub-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.image_grid_tab ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 34px;
}
.image_grid_tab li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.image_grid_tab a, .image_grid_tab i {
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #f3f3f3;
  border: 1px solid #4f6073;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 122%;
  cursor: pointer;
}
.image_grid_tab a:hover, .image_grid_tab i:hover {
  border-color: #ffffff;
}
.image_grid_tab li.active a{
  border: 1px solid #a5dbff;
  color: #a5dbff;
}
.image_grid_tab .nav-prev,
.nav-next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  background-image: url("/app/themes/bytes-canada/assets/images/down-arrow-menu.svg");
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
  filter: invert(1);
  color: #f3f3f3;
  border: 1px solid #b09f8c;
  border-radius: 20px;
}
.image_grid_tab .nav-prev {
  left: -20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.image_grid_tab .nav-next {
  right: -20px;
}
.image_grid_tab .arrow img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.ourarticles-blogs {
  margin-top: 3.646vw;
}
.ourarticles-blogs-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}
.ourarticles-blogs-boxes .no_grid_mag {
  color: #dddddd;
}
.ourarticles-blogs-box {
  max-width: calc(33.3% - 37px);
}
.ourarticles-blogs-box:hover .ourarticles-blog-img img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.ourarticles-blog-img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ourarticles-blog-img img {
  width: 100%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  height: auto;
}
.ourarticles-blog-data {
  position: relative;
  margin-top: 1.667vw;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.ourarticles-blog-data h3 {
  font-size: 24px;
  line-height: 122%;
  color: #f3f3f3;
  margin-bottom: 19px;
  margin-top: 12px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ourarticles-blog-data span {
  color: #f3f3f3;
  font-family: Aeonik-Medium;
  font-size: 20px;
  line-height: 120%;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0px;
  right: 0px;
}
.ourarticles-blog-data i {
  font-family: Aeonik-Bold;
  font-size: 16px;
  line-height: 122%;
  color: #da3333;
  font-style: normal;
}
.ourarticles-blog-data p {
  font-size: 20px;
  color: #dddddd;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section-spacing.our-guide-top-bg-pad{
  padding-bottom: clamp(20px, 2.5vw, 48px);
}
.section-spacing.our-guide-blocks-outer{
  padding-top: 0px;
}

@media screen and (min-width: 1921px) {
  .ourarticles-blogs {
    margin-top: 70px;
  }
  .ourarticles-blog-data {
    margin-top: 32px;
  }
  .image_grid_tab {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 991px) {
  .ourarticles-blogs-box {
    max-width: calc(50% - 37px);
  }
}
@media screen and (max-width: 767px) {
  .ourarticles-blogs {
    margin-top: 16px;
  }
  .ourarticles-blogs-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 0px;
  }
  .ourarticles-blogs-box {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .ourarticles-blog-data {
    margin-top: 11.4px;
    padding-right: 45px;
  }
  .ourarticles-blog-data span {
    font-size: 14px;
    line-height: 140%;
    top: 30px;
  }
  .ourarticles-blog-data i {
    font-size: 14px;
  }
  .ourarticles-blog-data h3 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 122%;
    letter-spacing: 1.5px;
  }
  .ourarticles-blog-data p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .ourarticles-blogs {
    padding-bottom: 30px;
  }
  .image_grid_tab .nav-prev {
    left: -10px;
  }
  .image_grid_tab .nav-next {
    right: -10px;
  }
}
