
.service-inner-development-top {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    gap: clamp(12px, 1.250vw, 24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service-inner-development-top .h3 {
    color: #f3f3f3;
}

.service-inner-development-top p {
    color: #dddddd;
    margin: 0px;
}

.service-inner-development-bottom {
    margin-top: 2.969vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.service-inner-development-bottom-left {
    width: 32.813vw;
}

.service-inner-development-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    height: 100%;
}

.service-inner-development-box {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid transparent;
    height: 50%;
    gap: clamp(12px, 1.250vw, 24px);
}

.service-inner-development-box img {
    height: 5.313vw;
    width: 5.313vw;
}

.service-inner-development-box:nth-child(1) {
    border-right: 1px solid #3c4d60;
    border-bottom: 1px solid #3c4d60;
}

.service-inner-development-box:nth-last-child(1) {
    border-left: 1px solid #3c4d60;
    border-top: 1px solid #3c4d60;
}

.service-inner-development-box .h6 {
    color: #f3f3f3;
    width: 11.115vw;
    text-align: center;
}

.service-inner-development-bottom-right {
    width: 35.521vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 3.75vw;
}

.service-inner-development-bottom-right-listing .h7 {
    color: #f3f3f3;
    margin-bottom: 2.5vw;
}

.service-inner-development-bottom-right-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    gap: 1.667vw;
}

.service-inner-development-bottom-right-list {
    width: calc(50% - 0.833vw);
    margin: 0px;
}

.service-inner-development-bottom-right-list span {
    color: #dddddd;
    font-family: Aeonik;
    padding-left: 3.333vw;
    position: relative;
}

.service-inner-development-bottom-right-list span::before {
    content: "";
    height: 1px;
    display: block;
    width: 2.083vw;
    background-color: #f3f3f3;
    position: absolute;
    left: 0px;
    top: 0.885vw;
}

.service-inner-development-bottom-right-listing .h7 {
    color: #f3f3f3;
    margin-bottom: 2.5vw;
}

@media screen and (min-width: 1921px) {
    .service-inner-development-top {
        gap: 24px;
    }

    .service-inner-development-bottom {
        margin-top: 57px;
    }

    .service-inner-development-bottom-left {
        width: 630px;
    }

    .service-inner-development-boxes {
        height: 100%;
    }

    .service-inner-development-box {
        gap: 24px;
    }

    .service-inner-development-box img {
        height: 102px;
        width: 102px;
    }

    .service-inner-development-box .h6 {
        width: 175px;
    }

    .service-inner-development-bottom-right {
        width: 682px;
        gap: 72px;
    }

    .service-inner-development-bottom-right-listing .h7 {
        margin-bottom: 48px;
    }

    .service-inner-development-bottom-right-ul {
        gap: 32px;
    }

    .service-inner-development-bottom-right-list {
        width: calc(50% - 16px);
    }

    .service-inner-development-bottom-right-list span {
        padding-left: 64px;
    }

    .service-inner-development-bottom-right-list span::before {
        width: 40px;
        top: 17px;
    }

    .service-inner-development-bottom-right-listing .h7 {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 991px) {
    .service-inner-development-bottom-right-list {
        width: 100%;
    }

    .service-inner-development-bottom-left {
        height: auto;
    }
    .service-inner-development-boxes{
        max-height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .service-inner-development-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
    }

    .service-inner-development-bottom-left {
        width: 100%;
    }

    .service-inner-development-box {
        height: 150px;
    }

    .service-inner-development-box img {
        height: 42px;
        width: 42px;
    }

    .service-inner-development-box .h6 {
        width: 90%;
    }

    .service-inner-development-bottom-right {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-flow: row;
    }

    .service-inner-development-bottom-right-listing {
        margin-top: 16px;
        width: 50%;
    }

    .service-inner-development-bottom-right-list {
        width: 100%;
    }

    .service-inner-development-bottom-right-list span::before {
        top: 9px;
    }
}