
.solution-inner-tech-stack-bg {
    background-image: url("/app/themes/bytes-canada/assets/images/Tech-Stack-BG.webp");
    background-size: 100% 100%;
}
.solution-inner-tech-stack-top h2 {
    color: #f3f3f3;
    margin-bottom: 1.25vw;
}
.solution-inner-tech-stack-top p {
    color: #dddddd;
}
.solution-inner-tech-stack-bottom {
    margin-top: clamp(32px, 5.729vw, 110px);
}
.solution-inner-tech-stack-bottom-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    gap: 2.5vw 3.333vw;
    margin-bottom: 2.5vw;
}
.solution-inner-tech-stack-bottom-full .solution-inner-tech-stack-list {
    width: 100%;
}
.solution-inner-tech-stack-list {
    width: calc(50% - 1.667vw);
}
.solution-inner-tech-stack-list .h5 {
    padding-top: 1.25vw;
    margin-bottom: 1.25vw;
    color: #f3f3f3;
    border-top: 1px solid #f3f3f3;
}
.solution-inner-tech-stack-list-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.938vw;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.solution-inner-tech-stack-list-box {
    width: 7.188vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: clamp(12px, 1.250vw, 24px);
}
.solution-inner-tech-stack-list-box .h7 {
    color: #f3f3f3;
    font-weight: 500;
    width: 100%;
    text-align: center;
    word-break: break-all;
}
@media screen and (min-width: 1921px) {
    .solution-inner-tech-stack-top h2 {
        margin-bottom: 24px;
    }
    .solution-inner-tech-stack-bottom {
        margin-top: 110px;
    }
    .solution-inner-tech-stack-bottom-parts {
        gap: 48px 64px;
        margin-bottom: 48px;
    }
    .solution-inner-tech-stack-list {
        width: calc(50% - 32px);
    }
    .solution-inner-tech-stack-list .h5 {
        padding-top: 24px;
        margin-bottom: 24px;
    }
    .solution-inner-tech-stack-list-boxes {
        gap: 18px;
    }
    .solution-inner-tech-stack-list-box {
        width: 138px;
        gap: 24px;
    }
    .solution-inner-tech-stack-list-box .h7 {
        font-weight: 500;
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .solution-inner-tech-stack-list-box {
        width: calc(20% - 2vw);
    }
    .solution-inner-tech-stack-list-box img {
        width: 40px;
        height: 40px;
    }
    .solution-inner-tech-stack-list-boxes {
        gap: 2vw;
    }
    .solution-inner-tech-stack-list {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .solution-inner-tech-stack-list {
        width: 100%;
    }
    .solution-inner-tech-stack-list-box {
        width: calc(20% - 2vw);
    }
    .solution-inner-tech-stack-list-box img {
        width: 40px;
        height: 40px;
    }
    .solution-inner-tech-stack-list-boxes {
        gap: 2vw;
    }
    .solution-inner-tech-stack-list .h5 {
        padding: 16px 0px;
        margin: 0px;
    }
}